@model IEnumerable<WebApplication1.Models.NonDeliveryPostOffice>

@{
    ViewBag.Title = "ShowNonDelPostOff";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
    <div class="m-5 p-5 " style="background-color:white;">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NonDeliveryPostOfficeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountOffice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Province)
                </th>
                <th>Edit</th>
                <th>Delete</th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NonDeliveryPostOfficeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountOffice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Province)
                    </td>
                    <td>
                        <a class="btn btn-primary" href="@Url.Action("EditNonDelPostOff", "Admin", new { id = item.NonDeliveryPostOfficeId })">Edit  </a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="@Url.Action("DeleteNonDelPostOff", "Delete", new { id = item.NonDeliveryPostOfficeId })">Delete </a>
                    </td>
                </tr>
            }

        </table>
        </div>